<%- include("header") -%>
    <h2>About page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, at minima? Officiis quam praesentium,
        blanditiis
        numquam corporis dignissimos quis sit voluptate ullam sequi eveniet laudantium culpa asperiores est sed
        doloremque!
    </p>

    <%- include("footer") -%>